* {
    font-family: sans-serif;
}

h3 {
    color: blue;
}
.container-fluid{
  position: absolute;
  background-color: #313233;
  text-align: center;
  min-height: 100%;
  width: 100%;
  height: 100%;
  font-size: 2em;
}
.container-fluid h1{
  color:#3872d1;
  text-shadow: 5px 2px 5px black;

}
#validator{
  color:red;
}
select.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;
}

input.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;
}
textarea.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;

}
#formLogin{
  margin-top: 5em;
}
#formLogin img{
  height: 70px;
}

body {
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
}

.slicknav_menu{
	display:none;
}
#menu{
  display: none;
}
#UserWrapper h1{
  color:white;
}
#chats{
  background-color: white;
  margin: auto;
  width: 70%;
  height: 19em;
  border-radius: 20px;
  box-shadow: 8px 7px 8px black;
  overflow:auto;
}
#chats table{
  margin: auto;
}
#userDescription .form-control {
  width: 90%;
  margin:auto;
  border-radius: 13px;
  margin-top: 8px;
}
#userPageImage{
  position: relative;
  z-index: 50px;
  background-image: url('https://developers.google.com/experts/img/user/user-default.png');
  background-size: cover;
  height: 5em;
  width: 5em;
  margin-top: 30px;
  margin: auto;
  border-radius: 100%;
  margin-bottom: -50px;
  box-shadow: 5px 5px 5px black;
}
#userPage{
  background-color: white;
  margin: auto;
  width: 100%;
  height: 22em;
  border-radius: 20px;
  box-shadow: 8px 7px 8px black;

}
#join{
  display: inline-block;
}
#header{
  color:white;
  display: inline-block;
  text-align: center;
}
.toptxt{
  color:white;
}
#chatWrapper{
  width: 100%;
}
#chatWrapper .container-fluid{
  background-color: white;

}
#userDescription{
  padding-top: 3em;
  text-align: center;
}
.userMessage{
  margin-left: 50px;
  border-radius: 10px;
  background-color: #3872d1;
  word-wrap: break-word;
  box-shadow: 8px 7px 8px grey;

}
.guestMessage{
  background-color: #313233;
  margin-left: 2em;
  border-radius: 10px;
  color: white;
  padding: 3px;
  word-wrap: break-word;
  box-shadow: 8px 7px 8px grey;

}
#formBottom{
  width:100%;
  bottom: 0;
  position: absolute;
}
#userForm{
  display: inline-block;
  width: 300px;
}
#buttonForm{
  display: inline-block;
}
div.form-group{
  display: inline-block;
}
#dash{
  height:4em;
}
span{
  font-size: 0.8em;
}
@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
  nav {
    display: none;
  }
  #chats{
    width: 95%;
    height: 16em;
  }
  .guestMessage{
    margin-left: 10px;
    padding: 5px;
  }
  .userMessage{
    margin-left: 10px;
    padding: 5px;
  }

}
