* {
    font-family: sans-serif;
}

h3 {
  color: blue;
  display: inline;;
}
.container-fluid{
  position: absolute;
  background-color: #313233;
  text-align: center;
  min-height: 100%;
  width: 100%;
  height: 90%;
  font-size: 2em;
  overflow-y: visible;
  overflow-x: hidden;

}
.container-fluid h1{
  color:#3872d1;
  text-shadow: 5px 2px 5px black;

}
#validator{
  color:red;
}
select.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;
}

input.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;
}
textarea.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;

}
#formLogin{
  margin-top: 5em;
}
#formLogin img{
  height: 70px;
}

body {
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
}

.slicknav_menu{
	display:none;
}
#menu{
  display: none;
}
#UserWrapper h1{
  color:white;
}
#chats{
  background-color: white;
  margin: auto;
  width: 70%;
  height: 19em;
  border-radius: 20px;
  box-shadow: 8px 7px 8px black;
  overflow:auto;
}
#chats table{
  margin: auto;
}
#chatBottom{
  position:absolute;
  bottom:0;
  width:100%;
  text-align:center;
  font-size:1.4em;
  color:black;
  overflow: hidden;
}
#userDescription .form-control {
  width: 90%;
  margin:auto;
  border-radius: 13px;
  margin-top: 8px;
}
#userPageImage{
  position: relative;
  z-index: 50px;
  background-image: url('https://developers.google.com/experts/img/user/user-default.png');
  background-size: cover;
  height: 5em;
  width: 5em;
  margin-top: 30px;
  margin: auto;
  border-radius: 100%;
  margin-bottom: -50px;
  box-shadow: 5px 5px 5px black;
}
#userPage{
  background-color: white;
  margin: auto;
  width: 100%;
  height: 22em;
  border-radius: 20px;
  box-shadow: 8px 7px 8px black;

}

#sideBar{
  float: left;
  width: 250px;
  background: #ccc;
  min-height: 100%;
  top: 10px;
}
#join{
  display: inline-block;
}
#header{
  color:white;
  display: inline-block;
  text-align: center;
}
.inline-form{
  font-size: 1.7em;
  border-radius:10px;
}
.toptxt{
  color:white;
}
#chatWrapper{
  width: 100%;
  overflow-y: hidden;
  font-size: 0.8em;
  word-wrap:break-word;
}


#chatWrapper .container-fluid{
  background-color: white;
  padding-bottom: 50px;

}
#userDescription{
  padding-top: 3em;
  text-align: center;
}
#formBottom{
  width:100%;
  bottom: 0;
  position: absolute;
}
#userForm{
  display: inline-block;
  width: 300px;
}
#buttonForm{
  display: inline-block;
}
div.form-group{
  display: inline-block;
}
#dash{
  height:4em;
}
span{
  font-size: 0.8em;
}
@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
  nav {
    display: none;
  }
  #chats{
    width: 95%;
    height: 16em;
  }
  #chatBottom{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-size:1.4em;
    color:black;
    overflow: hidden;
  }

}
