* {
    font-family: sans-serif;
}

h3 {
  color: blue;
  display: inline;
}
.container-fluid{
  position: absolute;
  background-color: #313233;
  text-align: center;
  min-height: 100%;
  width: 100%;
  height: 90%;
  font-size: 2em;
  overflow-y: visible;
  overflow-x: hidden;

}
.container-fluid h1{
  color:#3872d1;
  text-shadow: 5px 2px 5px black;

}
#validator{
  color:red;
}
select.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;
}

input.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;
}
textarea.form-control{
  padding: 25px 12px;
  font-size: 20px;
  margin-top: 10px;

}
#formLogin{
  margin-top: 5em;
}
#formLogin img{
  height: 70px;
}

body {
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
}

#menu{
  display: none;
}
#UserWrapper h1{
  color:white;
}
#chats{
  background-color: white;
  margin: auto;
  width: 70%;
  height: 19em;
  border-radius: 20px;
  box-shadow: 8px 7px 8px black;
  overflow:auto;
}
#chats table{
  margin: auto;
}
#chatBottom{
  position:absolute;
  bottom:0;
  width:100%;
  text-align:center;
  font-size:1.4em;
  color:black;
  overflow: hidden;
}
#userDescription .form-control {
  width: 90%;
  margin:auto;
  border-radius: 13px;
  margin-top: 8px;
}
#userPageImage{
  position: relative;
  z-index: 50px;
  background-image: url('https://developers.google.com/experts/img/user/user-default.png');
  background-size: cover;
  height: 5em;
  width: 5em;
  margin-top: 30px;
  margin: auto;
  border-radius: 100%;
  margin-bottom: -50px;
  box-shadow: 5px 5px 5px black;
}
#userPage{
  background-color: white;
  margin: auto;
  width: 100%;
  height: 22em;
  border-radius: 20px;
  box-shadow: 8px 7px 8px black;

}

/*#sideBar{
  position: relative;
  float:left;
  left: -15px;
  width: 250px;
  background: #ccc;
  min-height:100%;
}*/

/*********************/
/*!

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/*#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}*/

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/*********************/

#top{
  height: 2em;
}
#join{
  display: inline-block;
}
#header{
  color:white;
  display: inline-block;
  text-align: center;
}
.inline-form{
  font-size: 1.7em;
  border-radius:10px;
}
.toptxt{
  color:white;
}
#chatWrapper{
  width: 100%;
  overflow-y: hidden;
  font-size: 0.8em;
  word-wrap:break-word;
}


#chatWrapper .container-fluid{
  background-color: white;
  padding-bottom: 50px;

}
#userDescription{
  padding-top: 3em;
  text-align: center;
}
#formBottom{
  width:100%;
  bottom: 0;
  position: absolute;
}
#userForm{
  display: inline-block;
  width: 300px;
}
#buttonForm{
  display: inline-block;
}
div.form-group{
  display: inline-block;
}
#dash{
  height:4em;
}
span{
  font-size: 0.8em;
}
@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
  nav {
    display: none;
  }
  #chats{
    width: 95%;
    height: 16em;
  }
  #chatBottom{
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-size:1.4em;
    color:black;
    overflow: hidden;
  }

}
>>>>>>> Stashed changes
