<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <script type="text/javascript">
  // $('.container-fluid').slicknav({
  //   label: '',
  //   duration: 300,
  //   easingOpen: "swing",
  //   prependTo: '#top'
  // });
  function openNav() {
    document.getElementById("mySidenav").style.width = "200px";
    document.getElementById("main").style.marginLeft = "200px";
  }
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0"
  }
  // function change(){
  //   updateStyle(spookyV2)
  // }
  console.log(screen.width)
  if(screen.width > 700){
    openNav()
  }
  console.log(document.getElementById("mySidenav").style.width)
  </script>
  <div ng-controller="MessageController">
    <div id="mySidenav" class="sidenav" ng-controller="UserController" ng-init="index()">

      <p>Hello {{user.username}}</p>
      <div id="chatroomAvatar" style="background-image:url('/avatar/{{user.id}}')"></div>
      <a class="closebtn" id="chatroomToggle" onclick="closeNav()">&times;</a>
      <a href="/#!/rooms">Home</a>
      <a href="/#!/user">My Account</a>
      <p>Other users in this room</p>
      <a ng-repeat="user in currentUsers" href="/#!/user/{{user.id}}">{{user.username}}</a>
      <p>Chatrooms</p>
      <a>chatroom</a>
      <a>chatroom</a>
      <a>chatroom</a>
      <a>chatroom</a>
    </div>

    <!-- Use any element to open the sidenav -->

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
      <div id="themeDropdown">
        <h3>select a theme</h3>
        <select style="color:black"class="form-control"
        ng-change="updateStyle(selectedStyle)" ng-model="selectedStyle">
          <option style="color:black" selected ng-repeat="style in styles | filter: {style:'!Dracula Theme'}" value="{{style.key}}" placeholder="theme selector">{{style.label}}</option>
        </select>
      </div>

      <!-- <button ng-if="document.getElementById('main').style.marginLeft == null" onclick="openNav()" >Measfafas</button> -->
      <button id="chatroomToggle" type="button" onclick="openNav()" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
      </button>
      <ul id="menu">
        <li><a href="/#!/rooms">Home</a></li>
        <li>Chatrooms
          <ul>
            <li><a href="/#!/chatroom/1">chatroom1</a></li>
          </ul>
        </li>
      </ul>
      <h3>{{time}}</h3>
      <br>
      <div id="text">
        <div id="clickMe">
            <button class="clickMeButton" type="button" name="button" ng-click="updateStyle('spookyV2')">Testbutton</button>
        </div>
        <div ng-repeat = "item in allMessages">
          <div ng-if="item.username == user.username">
            <p class="animated shake" ng-bind-html="item.message | emoji"></p>
            <h5 class="animated shake">{{ item.username }} {{ item.created_at | date: "shortTime"}}</h5>
          </div> <!-- End of user message row -->
          <div ng-if="item.username != user.username">
            <p ng-bind-html="item.message | emoji"></p>
            <h5>{{ item.username }} {{ item.created_at | date: "shortTime"}}</h5>
          </div>
        </div> <!-- End of guest message row -->
      </div>
    </div>
    <div id="chatBottom">
      <form>
        <label for="messageinput"></label>
        <input  class="form-control" id="chatInput" type="text" ng-model="message.content">
        <button id="buttonForm" class="btn btn-default" ng-click="sendMessage()">Send</button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>

</html>
