<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#menu').slicknav({
        label: '',
        duration: 300,
        easingOpen: "swing",
        prependTo:'#UserWrapper'
      });
    });
    </script>
    <body>
      <div id="top"></div>
      <nav class="navbar navbar-inverse" ng-controller="roomsController" ng-init="index()">

        <div id="dash" class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/#!/rooms">Chatrooms</a></li>
            <li><a href="/#!/user">My Account</a></li>
          </ul>
        </div>
      </nav>
      <ul id="menu">
        <li><a href="/#!/user">user</a></li>
        <li>Chatrooms
          <ul>
            <li><a href="/#!/chatroom/1">chatroom1</a></li>
          </ul>
        </li>
      </ul>
      <div id="UserWrapper">
        <div class="container-fluid">
      <h1>Chatrooms</h1>
        <div id="chats">
          <div id="header">
            <h3>Chat room 1</h3>
          </div>
          <div id="join">
            <a href="#!/chatroom/1">join</a>
          </div>
          <p>description of chatroom 1</p>
        </div>
        <a style="color:red;"href="/#!/newRoom">Create a new Chatroom</a>
      </div>
    </div>
  </body>
 </html>
