<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div id="formLogin">
      <img src="client/static/images/login.png" alt="">
      <h1>Login</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form>
            <input type="text" class="form-control" ng-model="user.username" placeholder="username">
            <input type="password" class="form-control" ng-model="user.password" placeholder="password">
            <br>
            <input class="btn btn-default" type="submit" ng-click"">
            <br>
          </form>
            <br>
          <a href="/#!/login">Or you can Register here</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
 </html>
