<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#menu').slicknav({
      label: '',
      duration: 300,
      easingOpen: "swing",
      prependTo:'#newRoomTop'
    });
  });
  </script>

  <body>
    <nav class="navbar navbar-inverse">
      <div id="dash" class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/#!/rooms">Chatrooms</a></li>
          <li><a href="/#!/user">My Account</a></li>
        </ul>
      </div>
    </nav>
    <ul id="menu">
      <li><a href="/#!/rooms">home</a></li>
      <li><a href="/#!/user">My Account</a></li>
      <li>Chatrooms
        <ul>
          <li><a href="/#!/chatroom/1">chatroom1</a></li>
        </ul>
      </li>
    </ul>
    <div id="newRoomTop"></div>
    <div class="container-fluid">
      <div id="formLogin">
        <h1>Create a chatroom</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form>
            <input type="text" class="form-control" ng-model="room.name" placeholder="Name of room">
            <input type="password" class="form-control" ng-model="room.type" placeholder="Type(unlisted,private, etc)">
            <textarea class="form-control" name="name" rows="5" cols="80" placeholder="Description of the chatroom"></textarea>
            <br>
            <input class="btn btn-default" type="submit" ng-click"">
            <br>
            <br>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
 </html>
