<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script type="text/javascript">
    $(document).ready(function(){
      $('#menu').slicknav({
        label: '',
        duration: 300,
        easingOpen: "swing",
        prependTo:'#UserWrapper'
      });
    });
    </script>
    <body>
      <div id="top"></div>
      <nav class="navbar navbar-inverse">
        <div id="dash" class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/#!/rooms">Chatrooms</a></li>
            <li><a href="/#!/user">My Account</a></li>

            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </nav>
      <ul id="menu">
        <li>Chatrooms
          <ul>
            <li><a href="/#!/chatroom/1">chatroom1</a></li>
          </ul>
        </li>
      </ul>
        <div class="container-fluid">
          <h1>User</h1>
          <div id="userPageImage"></div>
          <div id="userPage">
            <div id="userDescription">
                <div class="userText">
                  <h4>Full name</h4>
                </div>
                <div class="userText">
                  <p>full name</p>
                </div>

            </div>
        </div>
      </div>
  </body>
 </html>
