<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#menu').slicknav({
      label: '',
      duration: 300,
      easingOpen: "swing",
      prependTo:'#userAnchor'
    });
  });
  </script>

    <body>
      <nav class="navbar navbar-inverse">
        <div id="dash" class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/#!/rooms">Chatrooms</a></li>
          </ul>
        </div>
      </nav>
      <ul id="menu">
        <li><a href="/#!/rooms">home</a></li>
        <li><a href="/#!/newRoom">Create a new chatroom</a></li>
        <li>Chatrooms
          <ul>
            <li><a href="/#!/chatroom/1">chatroom1</a></li>
          </ul>
        </li>
      </ul>
        <div id="userAnchor"></div>
          <div class="container-fluid" ng-controller="UserController" ng-init="index()">
            <h1>{{user.username}}</h1>
            <div id="userPageImage" style="background-image:url('/avatar/{{user.id}}')"></div>
            <div id="userPage">
              <div id="userDescription">

                <!-- <div class="button" ngf-select="upload($file)">Upload on file select</div> -->

                  <!-- display the data if its there otherwise display not set -->
                <h2 ng-if="!user.first_name ">Full name: <span>no first name set</span></h2>
                <h2 ng-if="user.first_name">Full name: <span>{{user.first_name}} {{user.last_name}}</span></h2>

                <h2>Birthday: <span>{{user.birthday.toDateString()}}</span></h2>
                <h2>Email: <span>{{user.email}}</span></h2>
                <h2>Chats joined: <span>chat 1</span></h2>
                <h2>Location: <span>{{user.location}}</span></h2>
                <h2>skype: <span>{{user.skype}}</span></h2>
                <h2>Description: <span>{{user.description}}</span></h2>

                <a href="/#!/edit/user">Add or edit account info here!</a>
                <br>
                <a ng-click="logout()">not Username? sign out!</a>
              </div>
          </div>
      </div>
  </body>
 </html>
