<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#menu').slicknav({
      label: '',
      duration: 300,
      easingOpen: "swing",
      prependTo:'#userAnchor'
    });
  });
  </script>

    <body>
      <div id="top"></div>
      <nav class="navbar navbar-inverse">
        <div id="dash" class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/#!/rooms">Chatrooms</a></li>
            <li><a href="/#!/user">My Account</a></li>
          </ul>
        </div>
      </nav>
      <ul id="menu">
        <li><a href="/#!/rooms">home</a></li>
        <li><a href="/#!/newRoom">Create a new chatroom</a></li>
        <li>Chatrooms
          <ul>
            <li><a href="/#!/chatroom/1">chatroom1</a></li>
          </ul>
        </li>
      </ul>
        <div id="userAnchor"></div>
          <div class="container-fluid" ng-controller="UserController">
            <h1>User</h1>
            <div id="userPageImage"></div>
            <div id="userPage">
              <div id="userDescription">
                <h2>Full name: <span>username</span></h2>
                <h2>chats joined: <span>chat 1</span></h2>
                <h2>messages sent: <span>999</span></h2>
                <h2>Email: <span>999</span></h2>
                <a href="/#!/edit/user">edit the user</a>
                <br>
                <a ng-click="logout()">not Username? sign out!</a>
              </div>
          </div>
      </div>
  </body>
 </html>
